#cor {
    color: rgb(79, 243, 234);
    
}

.card19 {
    text-align: center;
    background: linear-gradient(180deg, #021B2E, #032B3F, #041F2F);
    border: 1px solid #09ccab;
    box-shadow: 0px 0px 10px rgb(79, 243, 234);
    margin-top: 20px;
}