// #nov{
//       z-index: 10;
//     position: fixed;
//     background-color: transparent;
// }
footer{
    background-color: transparent;
}
// #Personal{
//     font-size: larger;
// }
// .nav-item{
//     font-size: 18px;
//     font-weight: bold;

// }
// .nav-item:hover{
//     text-decoration: underline;
//   text-decoration-color: #0be3df;
//   text-decoration-thickness: 3px;
//   }
  .shadow{
    text-shadow: 0px 0px 8px white;
  }   

  .logo {
    font-size: 25px;
  }

.header{
  width: 100%;
//   background: #111;
  padding: 20px 0;
    z-index: 10;
    position: fixed;
    background-color: transparent;
}

.container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  gap: 30px;
}

.nav a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
  font-weight: bold;
}

.nav a:hover{
  color: #00bcd4;
  text-decoration: underline;
  text-decoration-color: #0be3df;
  text-decoration-thickness: 3px;
}

.menu-btn{
  width: 35px;
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-btn span{
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 10px;
  transition: 0.3s;
}

@media(max-width: 1000px){

  .menu-btn{
    display: flex;
  }

  .nav{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 20%;
    background-color: rgb(3, 2, 35);
    flex-direction: column;
    text-align: center;
    // margin-left: 10px;
    padding: 30px 0;
    transition: 0.4s;
  }

  .nav.active{
    left: 0;
  }

}



.menu-btn{
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span{
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 10px;
  transition: 0.3s ease;
}


.menu-btn.active span:nth-child(1){
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-btn.active span:nth-child(2){
  opacity: 0;
}

.menu-btn.active span:nth-child(3){
  transform: rotate(-45deg) translate(6px, -6px);
}